{% include 'navbar.html' %}

{% block content %}



<h5 style="text-align: center; margin: 90px 0px 120px 0px;">Welcome to my pokemon page type any pokemon you want AND get
    all the information about it</h5>
<div class="container">
    <div class="row justify-content-center">
        <form method="POST" class="col-6">
            <div id="card" class="card" style="width:600px; height: 460px; border-radius: 20px;">
                <div class="card-body ">
                    {{ form.hidden_tag() }}
                    <div style="margin: 10px;">{{ form.username(class="form-control", placeholder='Username') }} </div>
                       <div style="margin: 10px;"> {{ form.password(class="form-control", placeholder='Password') }}</div>
                   
                    <div style="text-align: center; margin-top: 20px;">{{ form.Log_IN(class="btn btn-dark") }}</div>
                </div>
            </div>
    </div>
    </form>
</div>
</div>





{% endblock %}