
<nav id="nav" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand"> <img
                src="https://i.etsystatic.com/40089303/r/il/afb200/4780638563/il_1588xN.4780638563_mgg3.jpg"
                width="70px" height="70px"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: bolder; font-size: 35px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                <li class="nav-item">
                    <a class="nav-link" href="/pokemon">Pokemon</a>
                </li>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Battle</a>
                </li>

            </ul>
            <form id="search_bar" class="d-flex" role="search">
                <a id="currentuser"> {{ current_user.username }}</a>
                <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <a href=""><button class="btn btn-outline-success" >Search</button> </a>
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="idbutton">
                
                <a href="/login"><button class="btn btn-outline-success">LOG IN</button></a>
                &nbsp;
                <a href="/signup"><button class="btn btn-outline-success">SIGN UP</button></a>
                {% if current_user.username %}
                <a href="{{url_for('home')}}" button class="btn btn-outline-success">Log Out</button></a>
                {% endif %}
            </div>
            

        </div>
    </div>
</nav>