{% extends 'home.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon app (HOME)</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
{% block content %}




<h5 class="col-6" style="text-align: center; margin: 90px 0px 120px 0px;">Welcome to my pokemon page type an pokemon you
    want ANDget all the information about it</h5>

<div class="container">
    <div class="row justify-content-center">
        <form method="POST" action="{{ url_for('pokemon') }}" class="col-6">
            <div id="card" class="card" style="width:100%; height: 100%; border-radius: 20px;">
                <div class="card-body ">
                    <div style="margin-top: 150px;">
                        {{ form.hidden_tag() }}

                        {{ form.pokemon_name(class="form-control", placeholder='enter the pokemon name') }}
                        <a >
                            <div style="text-align: center; margin-top: 20px;">{{ form.search(class="btn btn-dark",
                                placeholder='search') }}
                            </div>
                        </a>
                        
                    </div>
                </div>
            </div>
    </div>

    </form>
</div>


{% if char %}
<div class="container">
    <div class="row justify-content-center">
        <form  method="POST" action="{{ url_for('add_pok') }}" class="col-6">
            <div action="/pokemon-add-pok" id="card" class="card"
                style="width:100%; height: 100%; border-radius: 20px;">
                <div class="card-body ">
                    <div style="font-size: 40px; font-weight: bolder; text-align: center; color: black;">

                        <p>poke img :<img src="{{char['pok_spirit_img']}}" height="300px" width="300px"> </p>
                        <p>Name: {{ char['pok_name'] }}</p>
                        <p>HP: {{ char['pok_hp'] }}</p>
                        <p>Attack: {{ char['pok_attack'] }}</p>
                        <p>Defense: {{ char['pok_defense'] }}</p>
                        <p>Ability: {{ char['pok_ability'] }}</p>
                        <p>Experience: {{ char['pok_experience'] }}</p>

                        <a>
                            <div style="text-align: center; margin-top: 20px;">
                               <button type="submit" name="add">{{ form.add(class="btn btn-dark", placeholder='add', value='Add') }}</button>
                            </div>
                        </a>


                      

                        <!-- <a href="/pokemon-add-pok" > <input type="submit" value="Add"></a> -->

                    </div>
                </div>
            </div>
    </div>

    </form>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>

{% endblock %}